USE [master]
GO
/****** Object:  Database [Usuarios]    Script Date: 18/3/2019 22:13:03 ******/
CREATE DATABASE [Usuarios]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Reservaciones', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Reservaciones.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Reservaciones_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Reservaciones_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Usuarios].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Usuarios]
GO
USE [Usuarios]
GO
/****** Object:  Table [dbo].[Register_Usuario]    Script Date: 18/3/2019 22:13:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Register_Usuario](
	[IDUsuario] [int] NOT NULL,
	[NombreCompleto] [varchar](50) NOT NULL,
	[Telefono] [varchar](50) NOT NULL,
	[Correo] [varchar](50) NOT NULL,
	[FechaNac] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Register_Usuario] PRIMARY KEY CLUSTERED 
(
	[IDUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Register_Usuario] ([IDUsuario], [NombreCompleto], [Telefono], [Correo], [FechaNac], [Password]) VALUES (304970352, N'Steven Zúñiga Franco', N'70222501', N'sjzfranco@gmail.com', N'1996-09-25', N'1234')
INSERT [dbo].[Register_Usuario] ([IDUsuario], [NombreCompleto], [Telefono], [Correo], [FechaNac], [Password]) VALUES (305210288, N'Brayan Brenes Pereira', N'87653421', N'bryan.brene.pere@gmail.com', N'1999-11-12', N'1234')
USE [master]
GO
